<div style="height: 24.7cm;
            margin: 0 auto;
            position: relative;
            box-sizing: border-box;">
    <span style="  font-size: 150px;
            color: rgb(211, 211, 211);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            -moz-transform: translate(-50%, -50%) rotate(-45deg);
            -ms-transform: translate(-50%, -50%) rotate(-45deg);
            -o-transform: translate(-50%, -50%) rotate(-45deg);
            display: inline-block;">Rascunho</span>
</div>